<a href="https://colab.research.google.com/github/ljw08/bioinfomatics/blob/main/03_%ED%8C%8C%EC%9D%B4%EC%8D%AC_3%EC%9D%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for문

### range() 함수 사용

In [ ]:
# range() 함수 사용

# for i in range(0,10,1):
# for i in range(0,10):
# for i in range(10):
# for i in range(0,10,2):
for i in range(2,10,3):
  print(f"{i} 안녕하세요. 파이썬 수업시간입니다.")

2 안녕하세요. 파이썬 수업시간입니다.
5 안녕하세요. 파이썬 수업시간입니다.
8 안녕하세요. 파이썬 수업시간입니다.

In [ ]:
# range() 함수를 이용해 정수 나열 리스트 만들기

print(range(2,10,3))
print(list(range(2,10,3)))

range(2, 10, 3)
[2, 5, 8]

### 리스트 사용해서 반복하기

In [ ]:
for i in [1,2,'3','4444',[3,4,5]]:
  print(f"{i} 안녕하세요. 파이썬 수업시간입니다.")

1 안녕하세요. 파이썬 수업시간입니다.
2 안녕하세요. 파이썬 수업시간입니다.
3 안녕하세요. 파이썬 수업시간입니다.
4444 안녕하세요. 파이썬 수업시간입니다.
[3, 4, 5] 안녕하세요. 파이썬 수업시간입니다.

### 문자열을 이용해서 반복하기

In [ ]:
for i in 'student':
    print(f"{i} 안녕하세요. 파이썬 수업시간입니다.")

for i in '안녕하세요.':
    print(f"{i} 안녕하세요. 파이썬 수업시간입니다.")

s 안녕하세요. 파이썬 수업시간입니다.
t 안녕하세요. 파이썬 수업시간입니다.
u 안녕하세요. 파이썬 수업시간입니다.
d 안녕하세요. 파이썬 수업시간입니다.
e 안녕하세요. 파이썬 수업시간입니다.
n 안녕하세요. 파이썬 수업시간입니다.
t 안녕하세요. 파이썬 수업시간입니다.
안 안녕하세요. 파이썬 수업시간입니다.
녕 안녕하세요. 파이썬 수업시간입니다.
하 안녕하세요. 파이썬 수업시간입니다.
세 안녕하세요. 파이썬 수업시간입니다.
요 안녕하세요. 파이썬 수업시간입니다.
. 안녕하세요. 파이썬 수업시간입니다.

### 변수를 사용하지 않으려면 _사용

In [ ]:
for _ in range(3):
  print("안녕하세요. 파이썬 수업시간입니다.")

안녕하세요. 파이썬 수업시간입니다.
안녕하세요. 파이썬 수업시간입니다.
안녕하세요. 파이썬 수업시간입니다.

# 합계 구하기

In [ ]:
s=0

for i in range(1,11):
  s += i
print(f'1부터 10까지 합계는 {s}입니다.')

1부터 10까지 합계는 55입니다.

### 1~100까지 합 구하기

In [ ]:
s = 0
for i in range(1,101,1):
  s += i

print(f'1부터 100까지 정수의 합은 {s}입니다.')

1부터 100까지 정수의 합은 5050입니다.

In [ ]:
# sum() 함수 사용해서 합 구하기

del sum
sum( list( range(1,101,1) ) )

5050

In [ ]:
a = [30,22,65,21,45,65,32,12,45,78]

sum1 = 0
for i in a:
  sum1 += i
print(f'리스트 {a}의 모든 요소의 합은 {sum1}')

리스트 [30, 22, 65, 21, 45, 65, 32, 12, 45, 78]의 모든 요소의 합은 415

In [ ]:
# sum() : 합계 / len() : 길이, 요소의 개수

print(f'리스트 {a}의 모든 요소의 합은 {sum(a)}')
print(f'리스트 {a}의 모든 요소의 합은 {len(a)}')

리스트 [30, 22, 65, 21, 45, 65, 32, 12, 45, 78]의 모든 요소의 합은 415
리스트 [30, 22, 65, 21, 45, 65, 32, 12, 45, 78]의 모든 요소의 합은 10

In [ ]:
# max() / min()

print(f'리스트 {a}의 모든 요소 중 제일 큰 수 {max(a)}')
print(f'리스트 {a}의 모든 요소 중 제일 작은 수 {min(a)}')

리스트 [30, 22, 65, 21, 45, 65, 32, 12, 45, 78]의 모든 요소 중 제일 큰 수 78
리스트 [30, 22, 65, 21, 45, 65, 32, 12, 45, 78]의 모든 요소 중 제일 작은 수 12

In [ ]:
# 평균 구하기

sum(a) / len(a)
print(f'리스트 {a}의 평균은 {sum(a) / len(a)}')

리스트 [30, 22, 65, 21, 45, 65, 32, 12, 45, 78]의 평균은 41.5

In [ ]:
# 숫자 입력을 받아 합계 구하기

n = int(input('합계를 구할 숫자 입력: '))
print(f"1부터 {n}까지의 합은 {sum(list(range(1,n+1)))}")

합계를 구할 숫자 입력: 100
1부터 100까지의 합은 5050

In [ ]:
# 짝수 제외 합계 구하기

n = int(input('합계를 구할 숫자 입력: '))
s1 = 0

for i in range(1,n+1,2):
  s1 += n
print(f'1~{n}까지 짝수를 제외한 합은: {s1}')

합계를 구할 숫자 입력: 10
1~10까지 짝수를 제외한 합은: 50

In [ ]:
# 괄호 짝 맞추기

a_list = list(input('괄호: '))
print(a_list)
t = 0

for i in range(1, len(a_list)+1):
  if t >= 0:
    if a_list[i-1] == '(':
      t += 1
    elif a_list[i-1] == ')':
      t -= 1

if t == 0:
  print('결과: True')
else:
  print('결과: False')

괄호: )
[')']
결과: False

In [ ]:
# 구구단 출력하기

n = int(input('몇단을 출력할까요?: '))

for i in range(1,10):
  print(f'{n} x {i} = {n*i:>2}')

몇단을 출력할까요?: 5
5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [ ]:
for i in range(2,10):
  print(f'# {i}단   ', end='')
# print() # '\n'
print('\n','-'*70)
for i in range(1,10):
  for k in range(2,10):
    print(f'{k}x{i}={i*k:>2}', end=', ')
  print()                                               # print() 엔터 효과

# 2단   # 3단   # 4단   # 5단   # 6단   # 7단   # 8단   # 9단
 ----------------------------------------------------------------------
2x1= 2, 3x1= 3, 4x1= 4, 5x1= 5, 6x1= 6, 7x1= 7, 8x1= 8, 9x1= 9,
2x2= 4, 3x2= 6, 4x2= 8, 5x2=10, 6x2=12, 7x2=14, 8x2=16, 9x2=18,
2x3= 6, 3x3= 9, 4x3=12, 5x3=15, 6x3=18, 7x3=21, 8x3=24, 9x3=27,
2x4= 8, 3x4=12, 4x4=16, 5x4=20, 6x4=24, 7x4=28, 8x4=32, 9x4=36,
2x5=10, 3x5=15, 4x5=20, 5x5=25, 6x5=30, 7x5=35, 8x5=40, 9x5=45,
2x6=12, 3x6=18, 4x6=24, 5x6=30, 6x6=36, 7x6=42, 8x6=48, 9x6=54,
2x7=14, 3x7=21, 4x7=28, 5x7=35, 6x7=42, 7x7=49, 8x7=56, 9x7=63,
2x8=16, 3x8=24, 4x8=32, 5x8=40, 6x8=48, 7x8=56, 8x8=64, 9x8=72,
2x9=18, 3x9=27, 4x9=36, 5x9=45, 6x9=54, 7x9=63, 8x9=72, 9x9=81,

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### 난수 (Random Number)

In [45]:
import random

# 임의의 정수
print(random.randint(1,10))          # 1~10 까지 정수 중 하나 선택
print(random.randrange(1,11,1))      # 1~11 미만  정수 중 하나 선택

# 임의의 실수
print(random.random())               # 0~1 사이의 임의의 실수
print(random.uniform(0.5,1))         # start~end 사이의 임의의 실수

# 리스트 섞기
a = [1,2,3,4,5,6,7,8,9,10]
print(a)
random.shuffle(a)
print(a)

# 리스트 요소 중에 하나 선택하기
print(random.choice(a))

# 리스트 요소 중에 여러 개 선택하기
print(random.sample(a,3))
print(f'로또번호 정렬해서 출력: ',sorted(random.sample(range(1,46),6)))

7
9
0.5219501115727306
0.5909987345392441
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 8, 4, 9, 2, 3, 7, 5, 10, 1]
2
[8, 5, 4]
로또번호 정렬해서 출력:  [1, 14, 23, 38, 41, 42]

In [55]:
import random

print('주사위 던지기 게임입니다.')
for i in range(1,6):
  print('-'*2,i,'번째 시도','-'*30)
  a=random.randint(1,6)
  b=random.randint(1,6)
  print(f'주사위 결과: 첫번째[{a}] 두번째[{b}]')
  if a > b:
    print('첫번째 주사위가 이겼습니다.')
  elif a == b:
    print('비겼습니다.')
  else:
    print('두번째 주사위가 이겼습니다.')
  print()

주사위 던지기 게임입니다.
-- 1 번째 시도 ------------------------------
주사위 결과: 첫번째[2] 두번째[1]
첫번째 주사위가 이겼습니다.

-- 2 번째 시도 ------------------------------
주사위 결과: 첫번째[5] 두번째[6]
두번째 주사위가 이겼습니다.

-- 3 번째 시도 ------------------------------
주사위 결과: 첫번째[5] 두번째[2]
첫번째 주사위가 이겼습니다.

-- 4 번째 시도 ------------------------------
주사위 결과: 첫번째[4] 두번째[4]
비겼습니다.

-- 5 번째 시도 ------------------------------
주사위 결과: 첫번째[1] 두번째[5]
두번째 주사위가 이겼습니다.

In [84]:
# 주사위 n번 돌려서 카운팅하는 프로그램

import random

dice = [1,2,3,4,5,6]
list_1 = []
n1,n2,n3,n4,n5,n6 = 0,0,0,0,0,0

for i in range(1,101):
  list_1.append(random.choice(dice))
# print(list_1)

for k in range(100):
  if list_1[k] == 1:
    n1 += 1
  elif list_1[k] == 2:
    n2 += 1
  elif list_1[k] == 3:
    n3 += 1
  elif list_1[k] == 4:
    n4 += 1
  elif list_1[k] == 5:
    n5 += 1
  elif list_1[k] == 6:
    n6 += 1

if max(n1,n2,n3,n4,n5,n6) == n1:
  num_max=1
elif max(n1,n2,n3,n4,n5,n6) == n2:
  num_max=2
elif max(n1,n2,n3,n4,n5,n6) == n3:
  num_max=3
elif max(n1,n2,n3,n4,n5,n6) == n4:
  num_max=4
elif max(n1,n2,n3,n4,n5,n6) == n5:
  num_max=5
else:
  num_max=6

print(f'''주사위 숫자별 개수: D1[{n1}] D2[{n2}] D3[{n3}] D4[{n4}] D5[{n5}] D6[{n6}]
가장 많이 나온 주사위 숫자: {num_max}  횟수: {max(n1,n2,n3,n4,n5,n6)}''')

주사위 숫자별 개수: D1[21] D2[16] D3[19] D4[14] D5[14] D6[16]
가장 많이 나온 주사위 숫자: 1  횟수: 21

In [85]:
# 주사위 n번 돌려서 카운팅하는 프로그램 - 중복처리x

import random

dice = [0,0,0,0,0,0]
for i in range(100):
  num = random.randint(1, 6)
  dice[num-1] = dice[num-1] + 1
print(f'{i+1}회 시도 - 나온 수({num}), 주사위:{dice}')
print(f'가장 큰 횟수: {max(dice)}의 주사위 눈금은: {dice.index(max(dice))+1}')

100회 시도 - 나온 수(4), 주사위:[19, 7, 19, 18, 20, 17]
가장 큰 횟수: 20의 주사위 눈금은: 5

In [93]:
i=0

while i < 10:
  i += 1
  print(f'나무를 {i}번 찍었습니다.')
print('나무 넘어 갑니다~')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어 갑니다~

In [103]:
prompt = """
    1.Add   2.Del   3.Modify    4.Quit

    Enter number: """

while True:
  n = input(prompt)
  if n == '4': break
print('program finished')

    1.Add   2.Del   3.Modify    4.Quit

    Enter number: 3

    1.Add   2.Del   3.Modify    4.Quit

    Enter number: 4
program finished

In [113]:
coffee1_price = 2500
coffee2_price = 3000
coffee3_price = 3000
menu = f'''[커피 자동주문 머신 메뉴]
------------------------
- 아메리카노:  {coffee1_price}원
- 카페라떼:    {coffee2_price}원
- 카푸치노:    {coffee3_price}원
------------------------
원하시는 커피종류와 잔수를 입력하세요!
'''
print(menu)
coffee1 = int(input('아메리카노 몇 잔: '))
coffee2 = int(input('카페라떼   몇 잔: '))
coffee3 = int(input('카푸치노   몇 잔: '))
total = coffee1_price * coffee1 + coffee2_price * coffee2 + coffee3_price * coffee3
print(f'주문하신 총 가격은 {total}원 입니다.')

while True:
    money = int(input('돈을 입력해주세요: '))
    change = total - money
    total = change
    if change > 0:
        print(f'입력한 금액이 부족합니다.{change}원을 더 넣어주세요.')
    else:
        print(f'거스름돈은 {abs(change)}원 입니다. 커피 맛있게 드세요~')
        break

[커피 자동주문 머신 메뉴]
------------------------
- 아메리카노:  2500원
- 카페라떼:    3000원
- 카푸치노:    3000원
------------------------
원하시는 커피종류와 잔수를 입력하세요!

아메리카노 몇 잔: 2
카페라떼   몇 잔: 3
카푸치노   몇 잔: 4
주문하신 총 가격은 26000원 입니다.
돈을 입력해주세요: 12000
입력한 금액이 부족합니다.14000원을 더 넣어주세요.
돈을 입력해주세요: 2000
입력한 금액이 부족합니다.12000원을 더 넣어주세요.
돈을 입력해주세요: 20000
거스름돈은 8000원 입니다. 커피 맛있게 드세요~